<h1 align="center"> Articles </h1>

<%= link_to "New Article", new_article_path, class: "btn btn-primary" %>

<div align="center ">
  <%= will_paginate %>
</div>
<%= render 'articles/article' , obj: @articles %>

<div align="center ">
  <%= will_paginate %>
</div>



