<h1 align="center"> Books </h1>

<%= link_to "New Book", new_book_path, class: "btn btn-md btn-primary" %>
<br>

<div align="center ">
  <%= will_paginate %>
</div>
<%= render 'books/book' , obj: @books %>

<div align="center ">
  <%= will_paginate %>
</div>



